name: Django CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci-cd:
    runs-on: ubuntu-latest

    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}

    services:
      sqlite:
        image: nouchka/sqlite3
        ports:
          - 3306:3306

    steps:
      # 1. Checkout source
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      # 3. Cache pip packages
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # 4. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt


      # 6. Run Django migrations
      - name: Run Django migrations
        env:
          DJANGO_SECRET_KEY: testkey123
        run: |
          python manage.py migrate

      # 7. Run Django Tests
      - name: Run Test Suite
        env:
          DJANGO_SECRET_KEY: testkey123
        run: |
          python manage.py test

      # 8. Build Docker image
      - name: Build Docker Image
        run: |
          docker build -t django-app .

      # 9. Deploy (chỉ chạy khi push vào main)
      - name: Deploy to Production
        if: github.ref == 'refs/heads/main'
        run: echo "Bật deploy sau (tùy server)."
